* {
    background-color: floralwhite;
}

.diceborder {
    margin: 30px;
    border: 2px solid #FFDAB9;
    border-width: 5px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    background-color: bisque;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    margin: 25px;
    font-size: 35px;
    font-family: sans-serif;
}

h2 {
    padding: 0px;
    margin: 10px;
    font-size: 35px;
    font-family: sans-serif;
}

.button1 {
    background-color: peachpuff;
    border: none;
    color: black;
    font-size: 30px;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.button2 {
    background-color: peachpuff;
    border: none;
    color: black;
    font-size: 30px;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}